<div class="page">
  <div class="image">
    <img src="/assets/concert.jpg">
    <p>Make your next plan today!</p>
  </div>
  <ul class="event-index">
    <h2 class="events-heading">Upcoming Events</h2>
    <div class="events">
      <% @events.upcoming.each do |event| %>
        <div class="event">
          <li>
            <div class="title">
              <%= link_to event.title, event %>
            </div>
            <div class="date">
              <%= event.date.strftime("%b %e, %l:%M %p") %>
            </div>
            <div class="location">
              <%= event.location %>
            </div>
          </li>
        </div>
      <% end %>
      <br>
    </div>
    <h2 class="events-heading">Past Events</h2>
    <div class="events">
      <% @events.past.each do |event| %>
        <div class="event">
          <li>
            <div class="title">
              <%= link_to event.title, event %>
            </div>
            <div class="date">
              <%= event.date.strftime("%b %e, %l:%M %p") %>
            </div>
            <div class="location">
              <%= event.location %>
            </div>
          </li>
        </div>
      <% end %>
    </div>
  </ul>
</div>