<ul>
  <div class="event">
    <li>
      <div class="title">
        <%= @event.title %>
      </div>
      <div class="date">
        Date:
        <%= @event.date %>
      </div>
      <div class="location">
        Location:
        <%= @event.location %>s
      </div>
      <div class="description">
        <%= @event.description %>
      </div>
      <%= button_to "Reserve a Spot", event_attendings_path, params: { event_id: @event.id } %>
      Attendees:
      <% @event.attendees.each do |attendee| %>
        <%= attendee.email %>
      <% end %>
    </li>
  </div>
</ul>