<ul>
  <div class="event">
    <li>
      <div class="title">
        <%= @event.title %>
      </div>
      <div class="date">
        Date:
        <%= @event.date %>
      </div>
      <div class="location">
        Location:
        <%= @event.location %>s
      </div>
      <div class="description">
        <%= @event.description %>
      </div>
      <% if @event.attendees.include? current_user %>
        <%= button_to "Unreserve", event_attending_path, params: { event_id: @event.id }, method: :delete, data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
      <% else %>
        <%= button_to "Reserve a Spot", event_attendings_path, params: { event_id: @event.id } %>
      <% end %>
      Attendees:
      <% @event.attendees.each do |attendee| %>
        <%= link_to attendee.email, user_path(attendee.id) %>
      <% end %>
    </li>
  </div>
</ul>